*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0d0d0d;
color:white;
}

/* Navbar */
nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:cyan;
transition:0.3s;
}

nav a:hover{
color:white;
}

/* Hero */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(black,#111);
}

.hero-img{
width:320px;
border-radius:15px;
box-shadow:0 0 25px cyan;
margin-bottom:20px;
}

.hero h2{
font-size:45px;
}

.hero button{
margin-top:20px;
padding:10px 25px;
border:none;
background:cyan;
color:black;
cursor:pointer;
}

/* Sections */
.section{
padding:80px 50px;
text-align:center;
}

.dark{
background:#111;
}

/* Cards */
.cards{
margin-top:40px;
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#1a1a1a;
padding:25px;
width:260px;
border-radius:10px;
transition:0.3s;
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 20px cyan;
}

/* Form */
form{
margin-top:30px;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:10px 20px;
background:cyan;
border:none;
cursor:pointer;
}

/* NIT Links */
.nit-links{
margin-top:40px;
}

.nit-links a{
color:cyan;
text-decoration:none;
}

.nit-links a:hover{
text-decoration:underline;
}

/* Footer */
footer{
text-align:center;
padding:20px;
background:black;
}

footer a{
color:cyan;
text-decoration:none;
}

footer a:hover{
text-decoration:underline;
}
